@using MvcStock.Models.Entity
@model List<TblCustomer>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

@using (Html.BeginForm("Index","Customer",FormMethod.Get))
            {
                <p>
                    <b>Customer Name Search:</b> @Html.TextBox("p2")
                    <input type="submit" value="Search" />
                </p>
            }

<table class="table table-bordered">
    <tr>
        <th>CUSTOMER ID</th>
        <th>CUSTOMER NAME</th>
        <th>CUSTOMER SURNAME</th>
        <th>DELETE</th>
        <th>UPDATE</th>
        <th>ALERT</th>
    </tr>
    <tbody>
        @foreach (var cus in Model)
        {
        <tr>
            <th>@cus.Customerid</th>
            <td>@cus.CustomerName</td>
            <td>@cus.CustomerSurname</td>
            <td><a href="/Customer/Delete/@cus.Customerid" class="btn btn-danger">Delete</a></td>
            <td><a href="/Customer/PullCustomer/@cus.Customerid" class="btn btn-warning">Update</a></td>
            <td>@Html.ActionLink("Delete Button","Delete",new {id=cus.Customerid},new { @class = "btn btn-success", onclick = "return confirm('Are you sure you want to delete?')" })</td>
        </tr>
        }
    </tbody>
</table>
<a href="/Customer/AddCustomer/" class="btn btn-success">Add New Customer</a>
