@model MvcStock.Models.Entity.TblCustomer
@{
    ViewBag.Title = "PullCustomer";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

@using (Html.BeginForm("Update", "Customer", FormMethod.Post))
{
    <div class="form-group">
        @Html.LabelFor(m => m.Customerid)
        @Html.TextBoxFor(m => m.Customerid, new { @class = "form-control" })
        <br />
        @Html.LabelFor(m => m.CustomerName)
        @Html.TextBoxFor(m => m.CustomerName, new { @class = "form-control" })
        <br />
        @Html.LabelFor(m=>m.CustomerSurname)
        @Html.TextBoxFor(m=>m.CustomerSurname, new {@class="form-control"})
    </div>
    <div style="margin-top:15px">
        <button class="btn btn-warning">Update Custumer</button>
    </div>

}

